@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#navTitle {
    font-family: 'Black Han Sans'
}

#font {

    font-family: 'Black Han Sans';
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.tamañoIcono {
    font-size: 32px;

}

.tamañoTabla {
    height: 100px;

}

.tamañoBoton {

    width: 10px;
}

#colorCuenta {
    color: #0d6efd;

}

#colorMantenimiento {
    color: #ffc107;

}

#colorTransferencias {
    color: #dc3545;

}

#colorPago {
    color: #198754;
}

#colorDebito {

    color: #0dcaf0;
}