@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
#navTitle{
    font-family: 'Black Han Sans'
}
.tuseguridad{
    background-color: #0d6efd;
    padding: 2rem;
  text-align: center;
  font-family:'Black Han Sans', sans-serif;
  color: white;
font-size: 40px;
}

*{
    margin: 0px;
    padding: 0px;
}

#imagenmundo{
width: 600px !important;
height: 400px !important;
padding: 35px;
}

.columnaimg{
    flex-direction: column;
    display: flex;
    flex: 1 1;
    width: 80%;
    margin:100px auto;
   
}

@media screen and (max-width : 767px){
    .columnaimg{
       width: 100%;
    }
    

   }
   @media screen and (max-width: 1023px) {
   .columnaimg{
    width: 100%;}
 }
 
 @media screen and (min-width: 1024px) {
    .columnaimg{
        width: 100%;}
 }

